{
  "plugins": [
    "tailwindcss"
  ],
  "extends": [
    "plugin:tailwindcss/recommended",
    "@antfu"
  ],
  "rules": {
    "vue/component-tags-order": [
      "error",
      {
        "order": [
          "template",
          "script[setup]",
          "script:not([setup])",
          "style"
        ]
      }
    ],
    "tailwindcss/no-custom-classname": "off"
  }
}