/* 页面切换动画*/
.page-enter-active, .page-leave-active {
    will-change: transform;
    transition: all 0.3s ease-in-out;
}

.page-enter-from,.page-leave-to {
    opacity: 0;
    transform: translateX(-10px);
}

/* 1. 声明过渡效果 fade  */
.fade-move,
.fade-enter-active,
.fade-leave-active {
    transition: all 0.3s ease-in-out ;
}
/* 2. 声明进入和离开的状态 */
.fade-enter-from,.fade-leave-to {
    opacity: 0;
}
/*!* 3. 确保离开的项目被移除出了布局流*/
/*      以便正确地计算移动时的动画效果。 *!*/
.fade-leave-active {
    position: absolute;
}
